<nav>
    <ul>
        <li><a href="/lang/es">ES</a></li>
        <li><a href="/lang/en">EN</a></li>
    </ul>
</nav>
    <h1><%= __('Listado de anuncios de') %> <%= title %> </h1>
    <h2><%= __('Aplique los siguientes filtros para encontrar lo que busca:') %></h2>