<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Listado de Anuncios de <%= title %> </h1>
    <ul>
      <% adlist.forEach ((item) => { %>
        <li><%= item %></li>
      <% }) %>
    </ul>


  </body>
</html>
