<!DOCTYPE html>
<html lang="en">
<head>
     <% include head.ejs %>
</head>
<body>
    <form class="login" action="">
        <label for="user">Usuario: <input type="text" name="user"></label>
        <label for="password">Contraseña: <input type="text" name="password"></label>
    </form>
</body>
</html>




