body {
  padding: 50px;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  color: #5D737E;
}

h2{
  color: #64B6AC;
  margin-top: 4%;
}

h3 {
  color: #64B6AC;
}

.element {
  border: solid 1px;
  text-align: center;
  background-color: #FCFFFD;
}

img {
  max-width: 200px;
}

.wrapper-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.wrapper-filters {
  display: grid;
  grid-template-columns: repeat(5, auto) 1fr;
  grid-gap: 40px;
  background-color: #DAFFEF;
  padding: 2%;
}

form {
  display: grid;
  grid-auto-rows: repeat(3, 1fr)

}

form button{
  display: block;
  background-color: tomato;
  padding: 5px;
  margin-top: 5px;
}


form input{
  margin-left: .5rem;
  width: 3rem;
  float: right;
}
