:root {
  --main-color: #5D737E;
  --secondary-color: #64B6AC;
  --links-color: #00B7FF ;
  --green-light: #64B6AC;
  --background-color: #FCFFFD;
}

body {
  padding: 50px;
  font-family: 'Ubuntu', sans-serif;
}

nav>ul>li {
  list-style-type: none;
  display: inline;
  
}

a {
  color: var(--links-color);
  text-decoration: none;
}

h1 {
  color: #5D737E;
  text-align: center;
}

h2{
  color: #64B6AC;
  margin-top: 4%;
  text-align: center;
}

h3 {
  color: #64B6AC;
}

.element {
  border: solid 1px;
  text-align: center;
  background-color: #FCFFFD;
}

img {
  max-width: 200px;
}

.wrapper-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.wrapper-filters {
  display: grid;
  grid-template-columns: repeat(6, auto) ;
  grid-gap: 40px;
  background-color: #DAFFEF;
  padding: 2%;
  align-items: center;
}

form {
  display: grid;
  grid-auto-rows: repeat(3, 1fr)

}

.login {
  display: grid;
  grid-template-rows: 1fr;  
  background-color: var(--secondary-color);
  padding: 2%;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.login label {
  margin-top: 1rem;
}

.login input {
  width: 10rem;
}

form button{
  display: block;
  background-color: #5D737E;
  padding: 5px;
  margin-top: 5px;
  max-width: 80%;
  color: white;
}

.login button {
  margin-top: 1rem;
  width: 50%;
  border-radius: 20px;
  justify-self: center;
}

.notification {
  color: red;
}

form input{
  margin-left: .5rem;
  width: 4rem;
  float: right;
}

span {
  margin-top: 5%;
}